.container{
    display:flex;
    height:100vh;
    flex-direction: row;
}

.displayPanel{
    flex:0.4;
    background-color: lightblue;

}

.chatPanel{
    flex:0.6;

    display:flex;
    flex-direction:column;
}


.messageArea{
    padding: 10px;
    flex:1;
    overflow-y: auto;

}

.inputArea{
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


.inputBox{

    color: black;
    font-size: 1rem;
    font-family: "Comic Sans MS", serif;
    border-color: red;
    border-style: solid;
    border-radius: 999px;
    padding:2px;
    width: 90%;


}

.inputArea button{

    border-radius: 999px;
    background-color: white;
    color: black;
    width:32px;
    height:32px;
    font-size:1rem ;
    cursor:pointer;

}

.question{

    padding:2px;
    color:red;
}

.answer{
    padding:2px;
    color:darkblue;

}