<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/ChatScreen.css}">
</head>
<body>

<div class="container">

<div class="chatPanel">

    <div class="messageArea">

        <div  class="messageBox" th:each="message:${listOfMessages}">

            <div class="question" th:utext="${message.getQuestion}"></div>

            <div class="answer" th:utext="${message.getAnswer}"></div>

        </div>


    </div>


<div class="inputArea">
<form method="post" action="/chat">
<textarea name="userInput" class="inputBox" rows="1" oninput="autogrow(this)" required></textarea>
    <button type="submit">➤</button>
</form>
</div>


</div>


<div class="displayPanel">

    <div class="display">

        <h2 class="logoText"><span class="Hyper">Hyper</span><span class="Bean">Bean</span></h2>
        <p class="phrase">The AI Assistant for hyperSonic</p>

    </div>

</div>

</div>
</body>
<script>


    function autogrow(el){

        el.style.height="auto";
        el.style.height=(el.scrollHeight)+"px";
    }

</script>
</html>